
.contacts {
  @media screen and (max-width: 480px) {
    margin-top: 306px;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;

  }

  @media screen and (min-width: 481px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
}

.contacts__item {
  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
  
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  @media screen and (max-width: 480px) {
    
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
  }

  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}

.contacts__link.tel {
  @media screen and (max-width: 480px) {
    font-size: 34px;
    line-height: 1.18;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--comon-blue);

  transition: color 250ms var(--timing-function);
}

.contacts__icon {
  fill: currentColor;
  @media screen and (max-width: 480px) {
    display: none;
  }
}
