
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow-y: scroll;

  background-color: var(--hero-modal-backdrop);

  opacity: 1;

  transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0, 0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);

  min-width: 528px;
  min-height: 581px;

  @media screen and (max-width:1199px) {
    min-width: 450px;
    min-height: 609px;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  background-color: var(--main-background-color);

  transition: transform 750ms var(--timing-function);
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--main-background-color);
}

.modal__close:hover .modal__close-icon {
  fill: var(--comon-blue);
}

.modal__close:focus .modal__close-icon {
  fill: var(--comon-blue);
}