
:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --head-border-bottom: #ececec;
  --comon-blue: #2196f3;
  --active-blue: #188ce8;
  --black-logo-color: #000000;
  --hero-image-backdrop: rgba(47, 48, 58, 0.4);
  --hero-modal-backdrop: rgba(0, 0, 0, 0.2);
  --cpecializm-overlay-color: rgba(47, 48, 58, 0.8);
  --socials-link-color: #afb1b8;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --socials-list-item-base-color: rgba(255, 255, 255, 0.1);
  --projects-wrap-color: #eeeeee;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}